.amenities{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width:90%;
    margin: 0 auto;
    margin-top:100px;

    
    &__item{
        height:200px;
        width:200px;
        background-color:red;
    }
}

.amenities-title{
    text-align:center;
    margin-top:100px;
}