.non-home-hero{
    
    min-height:100px;
    width:90%;
    margin:0 auto;
    margin-top:50px;
    background-color:#50647c;
    padding:20px;
    
    
        &__content{
            text-align:center;
            
         
        }

        
    
    }